@page "/menuhtml"
@using System.Text

@code {
    [Parameter]
    public string FormattedHtml { get; set; } = string.Empty;

    public class MenuContent
    {
        public required List<Category> LstCategories { get; set; }
    }

    public class Category
    {
        public required string Name { get; set; }

        public required List<Product> LstProducts { get; set; }
    }

    public class Product
    {
        public required string Name { get; set; }

        public string Portion { get; set; } = string.Empty;

        public string Description { get; set; } = string.Empty;

        public required string PhotoPath { get; set; }
    }

    protected override void OnInitialized()
    {
        var MenuObj = new MenuContent()
        {
            LstCategories = new List<Category>()
            {
                new Category()
                {
                    Name = "Comida",
                    LstProducts = new List<Product>()
                    {
                        new Product()
                        {
                            Name = "Alitas",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Boneless",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Tenders",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Hamburguesa de Pollo",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Hamburguesa de Res",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Dedos de queso",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Papas a la francesa",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Tiras de camote",
                            Description = "Prueba nuestras deliciosas alitas bañadas de la salsa de tu preferencia !",
                            Portion = "(700gr)",
                            PhotoPath = ""
                        }
                    }
                },
                new Category()
                {
                    Name = "Bebidas",
                    LstProducts = new List<Product>()
                    {
                        new Product()
                        {
                            Name = "TKT Light",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/tkt_light.png"
                        },
                        new Product()
                        {
                            Name = "TKT Roja",
                            Description = "",
                            Portion = "",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Pacifico",
                            Description = "",
                            Portion = "",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Corona",
                            Description = "",
                            Portion = "",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Victoria",
                            Description = "",
                            Portion = "",
                            PhotoPath = ""
                        },
                        new Product()
                        {
                            Name = "Boheima Clara",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/bohemia_clara.png"
                        },
                        new Product()
                        {
                            Name = "Bohemia Cristal",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/bohemia_cristal.png"
                        },
                        new Product()
                        {
                            Name = "Bohemia Weizen",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/bohemia_weizen.png"
                        },
                        new Product()
                        {
                            Name = "Indio",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/indio.png"
                        },
                        new Product()
                        {
                            Name = "XX Ambar",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/xx_ambar.png"
                        },
                        new Product()
                        {
                            Name = "XX Lager",
                            Description = "",
                            Portion = "",
                            PhotoPath = "../products/drinks/xx_lager.png"
                        },
                    }
                }
            }
        };

        var strBuilder = new StringBuilder();

        foreach (var category in MenuObj.LstCategories)
        {
            strBuilder.Append($"<br/><br/>");
            strBuilder.Append($"<div>");
            strBuilder.Append($"<h1>{category.Name}</h1>");

            var counter = 1;
            var isRowCompleted = false;
            foreach (var product in category.LstProducts)
            {
                if (counter == 3)
                {
                    counter = 1;
                    isRowCompleted = false;
                }

                if (counter == 1)
                    strBuilder.Append("<div class='box'>");


                var imgSrc = "";
                if(product.PhotoPath != "")
                {
                    imgSrc = $"src='{product.PhotoPath}'";
                } 
                else
                {
                    imgSrc = $"data-src='holder.js/167x120'";
                }

                strBuilder.Append(
                            $@"<div class='part-{counter}'>
                            <div class='row'>
                                <div class='col-7 order-2'>
                                    <h2>{product.Name}<span class='text-muted'>{product.Portion}</span></h2>
                                    <p class='lead'>{product.Description}</p>
                                </div>
                                <div class='col-5 order-1'>
                                    <img class='img-thumbnail'
                                         {imgSrc}
                                         alt='167x120'
                                         style='width: 167px; height: 120px;'
                                         data-holder-rendered='true'>
                                </div>
                            </div>
                        </div>");

                if (counter == 2)
                {
                    strBuilder.Append("</div>");
                    strBuilder.Append("<hr>");
                    isRowCompleted = true;
                }

                counter++;
            }

            if (!isRowCompleted)
            {
                strBuilder.Append(
                            $@"<div class='part-2'>
                            <div class='row'>
                                <div class='col-7 order-2'>
                                </div>
                                <div class='col-5 order-1'>
                                </div>
                            </div>
                        </div>");
            }

            strBuilder.Append($"</div>");
        }

        FormattedHtml = strBuilder.ToString();
    }
}

<style type="text/css">
    .box {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
    }

    .part-1, .part-2 {
        flex: 0 0 50%;
    }


    @@media screen and (max-width:1000px) {
        .box {
            flex-flow: column nowrap;
        }
    }
</style>

<script src="/vendors/holderjs/js/holder.js"></script>

    @((MarkupString)FormattedHtml)

<script type="text/javascript">

</script>