@page "/menuhtml"

@code {
   
}

<div class="container" style="margin: auto; background-color: #F6F1EE;">
    <h3 style="text-align: center;">Senderos Bikers Halloween Party</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1">
                    <div style="background-color:#6C5F5B; border-radius:90px 0px 0px 0px;">
                        &nbsp;
                    </div>
                </div>
                <div class="col-sm-10" style="text-align: center;">
                    MENÚ
                </div>
                <div class="col-sm-1">
                    <div style="background-color:#6C5F5B; border-radius:0px 90px 0px 0px;">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        body .....
    </div>
    <div class="row">
        <div class="col-md-1" style="background-color:#6C5F5B;">
            1
        </div>
        <div class="col-md-10">
            10
        </div>
        <div class="col-md-1" style="background-color:#6C5F5B;">
            1
        </div>
    </div>
</div>

